#== thedaemon's aliases ==#
alias acme='9 acme -f"/usr/local/plan9/font/fixed/unicode.10x20.font" -l ~/acme.dump &'
alias blender='vblank_mode=0 blender &'
alias c='clear'
alias cl='clear && ls'
alias cls='clear && ufetch'
alias df='df -h'
alias g='egrep -i'
alias grep='grep --color=auto'
alias h='history'
alias hg='history | grep $1'
alias l='ls -l'
alias la='ls -FA'
alias libera='catgirl -h irc.libera.chat -a thedaemon:PASSWORD -n thedaemon'
alias ll='ls -laFo'
alias ls='ls -G'
alias lu='du -sh * | sort -h'
alias oftc='catgirl -h irc.oftc.net -u thedaemon -w PASSWORD -n thedaemon'
alias pf="ps -e | grep $1"
alias pkg='doas pkg'
alias rm='rm -rf'
alias sdf='drawterm -h 9p.sdf.org -a 9p.sdf.org -u thedaemon &'
alias startvnc='x11vnc -usepw -many -display :0'
alias stats='stats -W 200x200 -Cmle &'
alias tar='tar -czvf $1'
alias term='9term -f"/usr/local/plan9/font/fixed/unicode.10x20.font" -W 800x400 &'
alias vpn='doas wg-quick up wg0'
alias vpnstop='doas wg-quick down wg0'
alias webupload='rsync -azP /home/thedaemon/projects/thedaemons.space/ root@IPADDRESS:/var/www/htdocs/thedaemons.space/'
alias webdownload='rsync -azP root@IPADDRESS:/var/www/htdocs/thedaemons.space/ /home/thedaemon/projects/thedaemons.space/'
alias winwatch='9 winwatch -W 200x200 -f "/usr/local/plan9/font/fixed/unicode.10x20.font" -e "^(winwatch|stats|catclock)$" &'
alias x='xinit ~/.xinitrc -- -nolisten tcp'
alias xkeyreset='killall -HUP xbindkeys'
alias ..='cd ..'
alias ....='cd ../..'

