<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">

        <menu id="2" label="Editors">
            <item label="Acme"> <action name="Execute">
                <execute>9 acme -f"/usr/local/plan9/font/fixed/unicode.10x20.font" -l acme.dump</execute>
            </action> </item>
            <item label="Easy Editor"> <action name="Execute">
                <execute>uxterm -e ee</execute>
            </action> </item>
            <item label="Leafpad"> <action name="Execute">
                <execute>leafpad</execute>
            </action> </item>
            <item label="Sam"> <action name="Execute">
                <execute>sam</execute>
            </action> </item>
            <item label="Vi"> <action name="Execute">
                <execute>uxterm -e vi</execute>
            </action> </item>
            <item label="Vim"> <action name="Execute">
                <execute>uxterm -e vim</execute>
            </action> </item>
            <item label="Zim Desktop Wiki"> <action name="Execute">
                <execute>zim</execute>
            </action> </item>
        </menu>

        <menu id="18" label="Games">
                <item label="ScummVM"> <action name="Execute">
                    <execute>scummvm</execute>
                </action> </item>
            <item label="DOSBox-X"> <action name="Execute">
                <execute>dosbox-x</execute>
            </action> </item>
            <item label="vkQuake"> <action name="Execute">
                <execute>vkquake</execute>
            </action> </item>
        </menu>

        <menu id="6" label="Graphics">
            <item label="Blender"> <action name="Execute">
                <execute>blender</execute>
            </action> </item>
            <item label="GrafX2"> <action name="Execute">
                <execute>grafx2</execute>
            </action> </item>
            <item label="The GIMP"> <action name="Execute">
                <execute>gimp</execute>
            </action> </item>
        </menu>

        <menu id="7" label="Multimedia">
            <item label="DeaDBeeF"> <action name="Execute">
                <execute>deadbeef</execute>
            </action> </item>
            <item label="mpv Media Player"> <action name="Execute">
                <execute>mpv --player-operation-mode=pseudo-gui</execute>
            </action> </item>
            <item label="TiMidity++"> <action name="Execute">
                <execute>timidity -ia</execute>
            </action> </item>
        </menu>

        <menu id="5" label="Network">
            <item label="Falkon"> <action name="Execute">
                <execute>falkon</execute>
            </action> </item>
            <item label="FireFox"> <action name="Execute">
                <execute>firefox</execute>
            </action> </item>

            <item label="HexChat"> <action name="Execute">
                <execute>hexchat</execute>
            </action> </item>

            <item label="links"> <action name="Execute">
                <execute>links -g</execute>
            </action> </item>

            <item label="NetSurf Web Browser"> <action name="Execute">
                <execute>netsurf-gtk</execute>
            </action> </item>
            <item label="qBittorrent"> <action name="Execute">
                <execute>qbittorrent</execute>
            </action> </item>


            <item label="TigerVNC viewer"> <action name="Execute">
                <execute>vncviewer</execute>
            </action> </item>
            <item label="TkVNC"> <action name="Execute">
                <execute>xterm -e tkvnc</execute>
            </action> </item>

        </menu>

        <menu id="3" label="Office">
            <item label="Document Viewer"> <action name="Execute">
                <execute>evince</execute>
            </action> </item>
            <item label="xpdf"> <action name="Execute">
                <execute>xpdf</execute>
            </action> </item>
        </menu>

        <menu id="19" label="Shells">
            <item label="9term"> <action name="Execute">
                <execute>9term</execute>
            </action> </item>        
            <item label="File Manager PCManFM"> <action name="Execute">
                <execute>pcmanfm</execute>
            </action> </item>

            <item label="Midnight Commander"> <action name="Execute">
                <execute>xterm -e mc</execute>
            </action> </item>

            <item label="Ranger"> <action name="Execute">
                <execute>xterm -e ranger-3.9</execute>
            </action> </item>

            <item label="Terminator"> <action name="Execute">
                <execute>terminator</execute>
            </action> </item>

            <item label="Xterm"> <action name="Execute">
                <execute>xterm</execute>
            </action> </item>
            <item label="XTerm (Unicode)"> <action name="Execute">
                <execute>uxterm</execute>
            </action> </item>
        </menu>

        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <item label="Customize Look and Feel"> <action name="Execute">
                    <execute>lxappearance</execute>
                </action> </item>
                <item label="Keyboard and Mouse"> <action name="Execute">
                    <execute>lxinput</execute>
                </action> </item>
                <item label="Monitor Settings"> <action name="Execute">
                    <execute>lxrandr</execute>
                </action> </item>
                <item label="Preferred Applications"> <action name="Execute">
                    <execute>libfm-pref-apps</execute>
                </action> </item>
                <item label="Tint2 Settings"> <action name="Execute">
                    <execute>tint2conf</execute>
                </action> </item>
                <item label="Xfontsel"> <action name="Execute">
                    <execute>xfontsel</execute>
                </action> </item>
                <item label="XScreenSaver Settings"> <action name="Execute">
                    <execute>xscreensaver-settings</execute>
                </action> </item>
            </menu>
        <menu id="40" label="OpenBox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>
            <separator/>
            <item label="Exit"> <action name="Exit"/> </item>
        </menu>
            <item label="KeePassXC"> <action name="Execute">
                <execute>keepassxc</execute>
            </action> </item>
            <item label="Tint2"> <action name="Execute">
                <execute>tint2</execute>
            </action> </item>
            <item label="Top"> <action name="Execute">
                <execute>xterm -e top</execute>
            </action> </item>
            <item label="Xconsole"> <action name="Execute">
                <execute>xconsole</execute>
            </action> </item>
        </menu>

        <menu id="38" label="Utilities">

            <item label="AntiMicro"> <action name="Execute">
                <execute>antimicro</execute>
            </action> </item>
            <item label="ClipIt"> <action name="Execute">
                <execute>clipit</execute>
            </action> </item>
            <item label="picom"> <action name="Execute">
                <execute>picom -b</execute>
            </action> </item>
            <item label="VirtualBox"> <action name="Execute">
                <execute>virtualbox</execute>
            </action> </item>            
            <item label="Xarchiver"> <action name="Execute">
                <execute>xarchiver</execute>
            </action> </item>
            <item label="Xclock (analog)"> <action name="Execute">
                <execute>xclock -analog</execute>
            </action> </item>
            <item label="Xclock (digital)"> <action name="Execute">
                <execute>xclock -digital</execute>
            </action> </item>
            <item label="catclock"> <action name="Execute">
                <execute>catclock</execute>
            </action> </item>            
            <item label="Xkill"> <action name="Execute">
                <execute>xkill</execute>
            </action> </item>
            <item label="Xrefresh"> <action name="Execute">
                <execute>xrefresh</execute>
            </action> </item>
            <item label="Xsetroot"> <action name="Execute">
                <execute>xsetroot</execute>
            </action> </item>
        </menu>



<separator/>
<item label="New"> <action name="Execute">
<execute>9term -f"/usr/local/plan9/font/fixed/unicode.10x20.font" -W 800x400</execute>
</action> </item>
<item label="Delete"> <action name="Execute">
<execute>xkill</execute>
</action> </item>
<item label="Refresh"> <action name="Reconfigure"/> </item>
<item label="Exit"> <action name="Exit"/> </item>

    </menu>
</openbox_menu>
